body {
    margin: 0;
    height: 100vh;

    background: linear-gradient(270deg, #2096f7, #00ff91, #a269f1);
    background-size: 600% 600%;

    animation: bgAnime 12s ease infinite;
}

@keyframes bgAnime {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.titre {
      font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.descriptionpage {
      font-family: "Tektur", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-variation-settings:
      "wdth" 100;
      text-align: center;
}
.copyright {
      font-family: "Tektur", sans-serif;
      font-optical-sizing: auto;
      font-weight: 50;
      font-style: italic;
      font-variation-settings:
      "wdth" 100;
      text-align: center;
}

.explications {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 500px;  
    width: 100%;        
    box-sizing: border-box; 
    margin-bottom: 50px;
    transition: transform 1s, box-shadow 1s;
}

.explications:hover { 
    transform: scale(1.15);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}



.titreEXPLI {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
}

.descriptionEXPLI {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: italic;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
}


.btn-container {
    width: 100%;               
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 10vh;           
    gap: 20px;
}


.btnhead {
    background-color: #02fcad;
    color: rgb(0, 0, 0);

    display: inline-block; 
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;

    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btnhead:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}



.btnnrml {
    background-color: #02fcad;
    color: rgb(0, 0, 0);
    display: block; 
    margin: 0 auto;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btnnrml:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Formulaire*/
form {
    max-width: 350px;
    margin: 20px auto; /* centre le formulaire */
    display: flex;
    flex-direction: column;
    gap: 10px; /* espace entre les champs */
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

form button {
    padding: 10px;
    background: #4a00ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form button:hover {
    background: #6a33ff;
}

/* Formulaire end*/